html {
    background-color: #322e2e;
    text-align: center;
    justify-content: center;
    font-family: cursive;
}

h1 {
    color: #fdffc8;
    font-size: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card,
.add-btn-container {
    margin: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.add-btn-container {
    justify-content: center;
    align-items: center;

}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #00000000;
    color: #fff;
    font-size: 50px;
    font-family: cursive;
    cursor: pointer;
}

input {
    background-color: #00000000;
    text-align: center;
    font-family: cursive;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn:hover,
.circle:hover {
    background-color: #0000002e;

}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #33333300;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #33333300;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.color-btn {
    width: 25px;
    height: 25px;
    border: solid, 2px;
    border-radius: 50%;
    background-color: #00000000;
    color: #ffffff;
    cursor: pointer;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}